body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: Quicksand

}
nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100px;
   padding: 10px 100px;
   box-sizing: border-box;
   transition: .3s;
}
nav.black {
   background: rgba(0,0,0,0.8);
   height: 100px;
   padding: 10px 100px;
}
nav.black .logo {
  color: #fff;
}
nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
} 
nav ul li  {
  list-style-type: none;
}
nav ul li a {
  line-height: 80px;
  color: #151515;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
  
}
nav.black ul li a {
  color: #fff;
}

nav ul li a:focus {
  outline: none;
}
nav ul li a.active {
  background: #E2472F;
  color: #fff;
  border-radius: 6px;
}
section.sec1 {
  width: 100%;
  height: 100vh;
  background: url('/image/ice.jpg');
  background-size: cover;
  background-position: center;
}
.hero {
  background-image: url('/image/ice.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -10;
}




